.error-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 0px 100px;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

